In [ ]:
print("hello)")

hello)

# Basics of python
- item 1
1. example

In [ ]:
print("Good evening.")

Good evening.

In [ ]:
x = 28
print(x+3)

31

In [ ]:
month = 'Novemeber'
print(month)
print(type(month))
print(len(month))
month[1]

Novemeber
<class 'str'>
9

'o'

In [ ]:
type(5.1)

float

In [ ]:
print(4.9)

4.9

In [ ]:
x = "mom"
if x == x[::-1]:
   print("The text is palindrome")
else:
   print("The text is not palindrome")

The text is palindrome

In [ ]:
x = "malayalam"
if x[::1] == x[::-1]:
   print("The text is palindrome")
else:
   print("The text is not palindrome")

The text is palindrome

In [ ]:
y = "mother"
if y == y[::-1]:
   print("The text is palindrome")
else:
   print("The text is not palindrome")

The text is not palindrome

In [ ]:
def your_function_1():
  num = input("Enter the number: ")
  num = int(num)
  square = num * num
  return square


result = your_function_1()
print("Square of number : " ,result)

Enter the number: 7
Square of number :  49

In [ ]:
for i in range(5):
    if i == 3:
        pass  # Do nothing when i is 3
    else:
        print(i)

0
1
2
4