In [ ]:
def your_function_2():

  a = input("Enter the number: ")
  a = int(a)

  if (a % 2 == 0):
    print("The number is even")
  return


your_function_2()

Enter the number: 14
The number is even

In [ ]:
# Your code here
def your_function_4(n):
    if(n == 1):
        return 1
    else:
        return n * your_function_4(n-1)



fact = your_function_4(5)
print("The factorial is : " , fact)

The factorial is :  120

In [ ]:
def your_function_5(s):
    rev = s[::-1]
    print(rev)
    return



your_function_5("Datascience")

ecneicsataD

In [ ]:
def your_function_7():
    s = "ICT Academy"
    vowels = "aeiouAEIOU"
    cnt = {i: s.count(i) for i in vowels if i in s}
    print(cnt)
    return


your_function_7()
pass

{'a': 1, 'e': 1, 'A': 1, 'I': 1}

In [ ]:
b = [1, 2, 2, 3, 4, 4, 5, 6 , 7, 8, 8]

unique_list = list(dict.fromkeys(b))
print(unique_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
s = "Python is fun and versatile."

# Counting words
word_count = len(s.split())
print(word_count)

5

In [ ]:
c = float(input("Enter temperature in celsius: "))

f = (c * 1.8) + 32

print(str(c))
print(str(f))

Enter temperature in celsius: 47
47.0
116.60000000000001

In [ ]:
import math

n = 11
if n <= 1:
    print(False)
else:
    is_prime = True
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            is_prime = False
            break
    print(is_prime)

True

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Iterate through each element in the list
for val in a:

    # Checks if a number is divisible by 2 (i.e., even).
    if val % 2 == 0:
        print(val, end = " ")

2 4 6 8 10

In [ ]:
def fibonacci(n):
    if n <= 0:
        return "Incorrect Output"
    data = [0, 1]
    if n > 2:
        for i in range(2, n):
            data.append(data[i-1] + data[i-2])
    return data[n-1]

# Driver Program
print(fibonacci(9))

21

In [ ]:
def your_function_20():
    e = ['Apple' , 'Banana', "Orange", "Grapes"]
    if len(e) > len(set(e)):
        return False
    else:
        return True

your_function_20()
pass